/* 定义变量 */
/* 公共样式 */
html,
body {
  height: 100%;
  font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
#wrapper {
  height: 100%;
}
.container {
  position: relative;
  height: 100%;
  max-width: 1024px;
  min-width: 800px;
}
.container .left {
  width: 260px;
  height: 100%;
  position: absolute;
  background-color: #346D82;
  color: #FFF;
}
.container .left .avatar {
  margin-top: 30px;
}
.container .left .avatar a {
  display: block;
  height: 140px;
  width: 140px;
  background: url("/static/img/avatar.jpg") no-repeat;
  background-size: 140px 140px;
  border-radius: 50%;
  margin: 0 auto;
}
.container .left .user-name {
  margin-top: 20px;
}
.container .left .user-name a {
  display: block;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px #333;
  text-align: center;
}
.container .left .user-desc {
  margin-top: 20px;
  text-align: center;
  color: #E6E3E3;
}
.container .left .main-nav {
  margin-top: 60px;
}
.container .left .main-nav > ul {
  margin-left: 60px;
}
.container .left .main-nav li {
  margin: 20px 0;
}
.container .left .main-nav li a {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
}
.container .middle {
  height: 100%;
  margin-left: 260px;
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
}
.container .middle .article {
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
}
.container .middle .article .title {
  height: 50px;
}
.container .middle .article .title h1 {
  float: left;
}
.container .middle .article .title a {
  text-decoration: none;
  color: #000;
}
.container .middle .article .title .create-time {
  float: right;
}
.container .middle .article .content {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
